<html ng-app="MyFirstApp">
	<head>
		<title></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>	
		<script type="text/javascript" src="listadetareas.js"></script>
	</head>
	<body   ng-controller="ControladorTareas">
		<h2>Lista de tareas</h2>
		<h1>{{nombre}}</h1>
		<span>Pendientes: {{pendientes()}} de {{tareas.length}} </span>
		<a class="text-danger" href="" ng-click="eliminar()">eliminar</a>	
		<div>	
			<ul>
				<li ng-repeat="tarea in tareas">
					<input type="checkbox" ng-model="tarea.hecho">
					<span>{{tarea.texto}}</span>
				</li>
			</ul>
			<form ng-submit="agregarTarea()">
				<input type="texto" placeholder="agregar nueva tarea" ng-model="textoNuevaTarea">
				<button type="submit">Agregar</button>
			</form>
		</div>

	</body>
</html>