<html ng-app="MyFirstApp">
	<head>
		<title></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>	
		<script type="text/javascript" src="filtros.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.6.1/i18n/angular-locale_es-cl.js"></script>
	</head>
	<body   ng-controller="ControladorFiltros">
		<div class="container">
			<h1>Filtros nativos angularjs</h1>
			<hr>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
						<input type="text" class="form-control" placeholder="buscare empleado" ng-model="buscar">
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									<a href="" ng-click="ordenarPor('nombre')">Nombre/s</a>
									<span class="caret" style="cursor: pointer" ng-click="ordenarPor('-nombre')"></span>
								</th>
								<th>Apellido Paterno</th>
								<th>Apellido Materno</th>
								<th>Telefono</th>
								<th>Salario</th>
								<th>Fecha</th>
								<th>Salario</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="empleado in empleados | orderBy:ordenSeleccionado | filter:buscar">
								<td>{{empleado.nombre}}</td>
								<td>{{empleado.paterno | uppercase}}</td>
								<td>{{empleado.materno | lowercase}}</td>
								<td>{{empleado.telefono}}</td>
								<td>{{empleado.salario }}</td>
								<td>{{empleado.primerDia |date:'fullDate'}} a las {{empleado.primerDia |date:'h:mma'}} </td>
								<td>{{empleado.salario | currency}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>			
		</div>
	</body>
</html>